<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer/DTD PLIST 1.0//EN"
  "http://www.apple.com/DTDs/%20PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>CFBundleExecutable</key>
  <string>java_swt</string>
  <key>CFBundleGetInfoString</key>
  <string>Towers of Hanoi, Copyright University of Michigan 2005.</string>
  <key>CFBundleIdentifier</key>
  <string>edu.umich.toh</string>
  <key>CFBundleInfoDictionaryVersion</key>
  <string>6.0</string>
  <key>CFBundleName</key>
  <string>Towers Of Hanoi</string>
  <key>CFBundlePackageType</key>
  <string>APPL</string>
  <key>CFBundleShortVersionString</key>
  <string>3.0</string>
  <key>CFBundleSignature</key>
  <string>????</string>
  <key>CFBundleVersion</key>
  <string>3.0</string>
  <key>Java</key>
  <dict>
   <key>ClassPath</key>
   <string>/usr/local/soar/swt/swt.jar:/usr/local/soar/swt/swt-pi.jar:$JAVAROOT/sml.jar:$JAVAROOT/toh.jar</string>
   <key>MainClass</key>
   <string>edu.umich.toh.TowersOfHanoi</string>
   <key>VMOptions</key>
   <string>-Djava.library.path=/usr/local/soar/lib:/usr/local/soar/swt</string>
  </dict>
 </dict>
</plist>

